body {
    background-color: #14BDAC;
    -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  text-align: center;

}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    text-align: center;
}

/*linha1*/
div#q1 {
    height: 150px;
    width: 150px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

div#q2 {
    height: 150px;
    width: 150px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

div#q3 {
    height: 150px;
    width: 150px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/*linha2*/
div#q4 {
    height: 150px;
    width: 150px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

div#q5 {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

div#q6 {
    height: 150px;
    width: 150px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

/*linha3*/
div#q7 {
    height: 150px;
    width: 150px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

div#q8 {
    height: 150px;
    width: 150px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

div#q9 {
    height: 150px;
    width: 150px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

img {
    max-width: 45px;
    max-height: 45px;
    padding-top: 20px;
}

div#resultado {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    height: 75px;

}
input{
    text-align: center;
    margin: 0 auto;
    background-color: #0C77C9;
    color: white;
    border-color: #0C77C9;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    font-weight: bold;
    margin-top: 50px;
}

@media(max-width: 750px) {

    .container {
        justify-content: center;
        margin-top: 180px;
        height: 110vw;
        width: 500px;

    } 
    input{
        margin-left: 30px;
    }
    }
