body{
    background-color:#F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
   }
   .container{
       display: flex;
       height: 45vw;
       justify-content: center;
       align-items: center;
   }
   div#left{
       height: 350px;
       width: 450px;
       padding-right:115px ;
   }
   div#right{
       height: 360px;
       width: 392px;
   
   }
   div#info{
       background-color: white;
       height: 345px;
       width: 395px;
       border-radius: 9px;
       box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.103);
       
       
   }
   img{
       padding-top: 67px;
       width: 242px;
       display: block;
   }
   div#text{
       font-size: 20pt;
       padding-top: 25px;
   
   
   }
   div#create{
       padding-top: 10px;
       text-align: center;
       font-size: 11pt;
   }
   div#email{
       font-size: 17px;
       padding: 14px 16px;
       width: 330px;
       border-radius: 6px;
       border: 1px solid rgba(170, 170, 170, 0.486);
       color: #1d21290a;
       line-height: 16px;
     
       margin-top: 20px;
       margin-left: 10px;
   }
   input#email{
       font-size: 17px;
       padding: 14px 16px;
       width: 330px;
       border-radius: 6px;
       border: 1px solid rgba(170, 170, 170, 0.486);
       
       line-height: 16px;
       margin-top: 20px;
       
   
   }
   input#senha{
       font-size: 17px;
       padding: 14px 16px;
       width: 330px;
       border-radius: 6px;
       border: 1px solid rgba(170, 170, 170, 0.486);
       line-height: 16px;
       margin-top: 20px;
      
   }
   input#login{
       border-radius: 6px;
       font-size: 20px;
       line-height: 10px;
       padding: 16px;
       height: 50px;
       width: 360px;
       margin-top: 10px;
       background-color: #166FE5;
       border-color: #166FE5;
       color: white;
       border-color: #1670e500;
       font-weight: bold;
   }
   .infos{
       text-align: center;
   }
   a#page{
       text-decoration: none;
       color: black;
   }
   a#page:hover{
       text-decoration: underline;
       color: black;
   }
   hr{
       text-align: center;
       width: 360px;
       margin-top: 20px;
   
   }
   div#forgot{
       text-align: center;
       padding-top: 20px;
       font-size: 11pt;
   
   }
   a#passwordf{
       text-decoration: none;
       color: #1877F4;
   }
   a#passwordf:hover{
       text-decoration: underline;
   }
   input#account{
       margin-top: 10px;
       border-radius: 6px;
       font-size: 12pt;
       height: 50px;
       width: 200px;
       text-align: center;
       background-color: #42B72A;
       border-color: #36a42000;
       color: white;
       font-weight: bold;
   
   }

   @media(max-width:900px){
    .container{
        flex-direction: column;
        margin-top: 80px;
        justify-content: center;
        margin-top: 160px;
    }
    div#left{
        margin-left: 119px;
    }
    div#text{
        text-align: center;
    }
    img{
        margin: auto;
    }
    div#right{
        margin-top: 20px;
    }
   }